language: java

sudo: false

jdk:
  - oraclejdk8
  - oraclejdk11
  - openjdk8
  - openjdk9
  - openjdk10
  - openjdk11

env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "gczBzJkIgn21D7vsF/h7MtuzSoOP6tJhM9siAoFheygG8ZSRc7GQUlwuI3f24ym5K1P6hz2IS8hDbuwVVZpSQKUN1B+rcXlkFeAOljK6ZBxVh6UdvwQnBRIZXyJQomBIWjidnxGj+dOpjX3RgaSL/Q2okHAE3h5G3vEqRzayplw="

after_success:
  - mvn clean cobertura:cobertura coveralls:report
